In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import random
import math

## Here are our functions "from the math."

In [ ]:
# we're assuming a form of a/sqrt(x) + b/(x**2) + c
# We're applying the following constraint: a**2+b**2=1: the unit circle. c is free.
# Loss function: mean square error.
# new coordinates: a=cos(alpha), b=sin(alpha), c=beta.

In [ ]:
def MSELoss(p,X,y): # This is the 1-dimensional MSE loss in the original coordinates.
    N = len(y)
    term = 1/N*sum([(y[i]-p[0]/np.sqrt(X[i])-p[1]/(X[i]**2) - p[2])**2 for i in range(N)])
    return term

In [ ]:
def myGrad2(p,X,y): # This assumes that the original loss function is the MSE.
    N = len(y)
    alpha = p[0]
    beta = p[1]
    s1 = sum([ ((1-2*(np.cos(alpha))**2)*X[i]**(3/2) + np.sin(alpha)*(beta-y[i])*X[i]**(7/2) 
                - np.cos(alpha)*((1-X[i]**3)*np.sin(alpha) + X[i]**2*(beta-y[i])))/(X[i]**4)
        for i in range(N)]) # diff wrt alpha.
    s2 = sum([ ((beta-y[i])*X[i]**(5/2) + np.cos(alpha)*X[i]**2 + np.sin(alpha)*np.sqrt(X[i])) / (X[i]**(5/2)) 
              for i in range(N)]) # diff wrt beta
    v1 = -2*s1
    v2 = 2*s2
    ans = np.array([v1/N,v2/N])
    return ans # the components of the gradient of the MSE in our coordinates.

In [ ]:
def myUpdate2(p,v):
    
    def alphaMove(p2,v2,t):
        c3 = (-v2)
        c4 = p2
        return c3*t + c4
    
    def betaMove(p1,v1,t):
        c1 = (-v1)
        c2 = p1
        return c1*t+c2
    
    ans = np.array([alphaMove(p[0],v[0],1.0), betaMove(p[1],v[1],1.0)])
    return ans

In [ ]:
def gradUpdate2(p,X,y,eta):
    
    gradP = myGrad2(p,X,y)
    #print(gradP)
    gradPlr = eta*gradP
    #print(gradPlr)
    newP = myUpdate2(p,gradPlr)
    return newP

## Here is our generic SGD algorithm

In [ ]:
"""
X - X data points
y - y data points
pt - Initial point to start at
Update - Update function to get a new point
epochs - Number of iterations to narrow down the best point
batchsize - The size of the sliced dataset to use in the update function
lr - The learning rate
"""
def SGD(X, y, pt, Update, epochs, batchsize=64, lr=0.01):
	pts = [pt]
	xBatch = X
	yBatch = y
	for _ in range(epochs):
		if len(X) > batchsize:
			# We want to get a random list of integers to get a batch
			xBatch = []
			yBatch = []
			randList = random.sample(range(0, len(X)), batchsize)
			for index in randList:
				xBatch.append(X[index])
				yBatch.append(y[index])
		# Call passed in function TODO: Only will work with gradupdate1, need a way to have it work with multiple.
		pt = Update(pt,xBatch,yBatch,lr)
		for num in pt:
			if math.isnan(num):
				print("Sorry, unable to get an updated point. Please change learning rate and/or starting point.")
				lastPoint = pts[len(pts)-1]
				print(f"Returning the last succesful point: {lastPoint}")
				return lastPoint
		pts.extend([pt]) # Track the path in the original coordinates.
	return pts

## Validate our math formulas on a dummy dataset

In [ ]:
Xtest = np.linspace(1,11,100)
ytest = [1/np.sqrt(x)+1 for x in Xtest] # So the model is y= 1/sqrt(x) + 0/x**2+1.

In [ ]:
pt = [(np.pi)/4,0] # Initialize (new coordinates). This is (exp(2)+1, 0) in the original coordinates.
epochs = 500 # How long to train for?
myeta = 0.1 # Careful with the learning rate: if it's too big, you can run into a "bad point!"
pts = SGD(Xtest, ytest, pt, gradUpdate2, epochs, lr=myeta)
    
opts = np.array([np.array([np.cos(p[0]),np.sin(p[0]),p[1]]) for p in pts])

In [ ]:
print("Starting point in (alpha, beta) coordinates:")
print(pts[0])
print("Ending point in (alpha, beta) coordinates:")
print(pts[-1])
print("starting point in (a,b,c) coordinates:")
print(opts[0])
print("Ending points in (a,b,c) coordinates (goal of (1,0,1)):")
print(opts[-1])

In [ ]:
# Plot the movement of the alpha coordinate along the unit circle (nothing too interesting in beta: goes to 1).
myX = list(np.linspace(0,1,100))
myY = [np.sqrt(1-x**2) for x in myX]
plt.scatter(opts.transpose()[0], opts.transpose()[1], c=[i for i in range(len(opts.transpose()[0]))], cmap='jet')
plt.plot(myX,myY)
plt.show()

In [ ]:
losses = [MSELoss(p,Xtest,ytest) for p in opts]

In [ ]:
# Watch the loss for the first few iterations drop.
plt.plot(losses[0:10])

In [ ]:
# The loss continues to drop.
plt.plot(losses[10:])

In [ ]:
# Bottom line: here is our approximate solution:
print(opts[-1])

## Now fit our curve to real data

In [7]:
philips=pd.read_csv('inflation interest unemployment.csv')
philips.dropna(inplace=True)
philips.reset_index(drop=True,inplace=True)
display(philips)

,country,year,"Inflation, consumer prices (annual %)","Inflation, GDP deflator (annual %)",Real interest rate (%),Deposit interest rate (%),Lending interest rate (%),"Unemployment, total (% of total labor force) (national estimate)","Unemployment, total (% of total labor force) (modeled ILO estimate)",iso3c,iso2c,adminregion,incomeLevel
0,Albania,1992,226.005421,232.984659,-63.787120,18.500000,20.583333,26.500000,30.014999,ALB,AL,Europe & Central Asia (excluding high income),Upper middle income
1,Albania,1993,85.004751,125.650814,-42.573514,27.333333,29.583333,22.299999,25.257999,ALB,AL,Europe & Central Asia (excluding high income),Upper middle income
2,Albania,1994,22.565053,35.842475,-8.963182,19.833333,23.666667,18.400000,20.840000,ALB,AL,Europe & Central Asia (excluding high income),Upper middle income
3,Albania,1995,7.793219,9.970663,8.801745,15.300000,19.650000,12.900000,14.611000,ALB,AL,Europe & Central Asia (excluding high income),Upper middle income
4,Albania,1996,12.725478,38.172058,-10.286975,16.783333,23.958333,12.300000,13.931000,ALB,AL,Europe & Central Asia (excluding high income),Upper middle income
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1261,Zambia,2012,6.575900,6.992016,4.821684,7.000000,12.150833,7.850000,7.850000,ZMB,ZM,Sub-Saharan Africa (excluding high income),Lower middle income
1262,Zambia,2017,6.577312,10.095730,2.070262,8.887500,12.375000,12.170000,11.630000,ZMB,ZM,Sub-Saharan Africa (excluding high income),Lower middle income
1263,Zambia,2018,7.494572,7.411571,2.215865,6.800000,9.791667,12.010000,12.010000,ZMB,ZM,Sub-Saharan Africa (excluding high income),Lower middle income
1264,Zambia,2019,9.150316,7.633470,2.469674,8.285833,10.291667,12.520000,12.520000,ZMB,ZM,Sub-Saharan Africa (excluding high income),Lower middle income
1265,Zimbabwe,2019,255.304991,440.829791,-78.517887,2.975000,16.181667,16.860001,4.833000,ZWE,ZW,Sub-Saharan Africa (excluding high income),Lower middle income